<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



<div class="panel panel-info">
  <div class="panel-heading" style="text-align:center"><h1>Loja do Zezinho</h1></div>
  <!-- <div class="panel-body">Panel Content</div> -->
</div>

<div>
  <div class="row col-xs-1 col-sm-1 col-md-1 col-lg-1" style="justify-content: center;transform: translateY(15%)">
    <label>Produto:</label>
  </div>
  <div class="row col-xs-6 col-sm-6 col-md-6 col-lg-6"  align="center">
  <select class="form-control" (ngModel)="selectedItem" (input)="chosenItem($event.target.value)">
    <option *ngFor="let i of items" [value]="i | json">
      {{i.title}}
    </option>
  </select>
  </div>

</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Moeda</th>
        <th scope="col">Valor Unitário</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{selectedItem.title}}</td>
        <td>{{selectedItem.description}}</td>
        <td><input type="text" formControlName="quantity" class="form-control" value="{{selectedItem.quantity}}"
          (input)="calculateValue($event.target.value)"/></td>
        <td>{{selectedItem.currency_id}}</td>
        <td>{{selectedItem.unit_price}}</td>
      </tr>
      <tr>
        <th scope="row" colspan="3"></th>
        <th scope="row">Valor Total:</th>
        <th scope="row">{{totalValue}}</th>
      </tr>
    </tbody>
  </table>

</div>


<div class="right">
  <label> </label>

</div>

<div style="justify-content: center">
<div class="row col-xs-3 col-sm-3 col-md-3 col-lg-3" style="justify-content: center;transform: translateY(20%)">
  <button type="button" class="btn btn-primary" (click)="setPayment()">Efetuar Pagamento</button>
</div>

<div id="div1" sstyle="justify-content: center" class="row col-xs-9 col-sm-9 col-md-9 col-lg-9"></div>

</div>
<router-outlet></router-outlet>
